%nav.navbar.navbar-expand-lg.bg-body-secondary.website-nav
  .container-fluid
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0.website-navbar
        %a{href: homepage_path}
          .navbar-brand.website-title 
            %i.fa.fa-ticket{"aria-hidden" => "true"}
            BookItNow